<!DOCTYPE html>
<html>
    <%- include ./partials/head %>
    <head>
            <h1>This is the page for your Tour Members</h1>

    </head>
    <body>
        <% include ./partials/navbar %>
            <p> You first name is <%=firstname%></p>
            <p> You last name is <%=lastname%></p>
        <% include ./partials/scripts %>

    </body>
</html>
